@import "../../less/vars/var.less";
.product{
    background: #FFF8F8;

    .product_block{
        display: flex;
        justify-content: center;
    }

    .item_inner{
        

        .row{
            height: 100vh;
            display: flex;
            align-items: center;
        }
        
    }
    .product__order{
        position: relative;
        display: flex;
        font-weight: 100;
        flex-direction: column;
        color: #959595;
        background: #fff;
        

        .price{
            position: absolute;
            font-weight: 900;
            font-style: italic;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 108px;
            width: 50%;
            padding-right: 20px;
            background: @black;
            color: #fff;
            font-size: 2rem;
            border-radius: 10px 0 0 10px;
            margin-right: -20px;
        }
        .mainTitle{
            
            padding-bottom: 50px;
            .brand{
                color: @black;
                font-style: italic;
                font-weight: 900;
                font-size: 2rem;

                

            }

           
            .model{
                
                color: @black;
                span{
                    color: #959595;
                }
            }
        }



        // color

        .colorWrapper{
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            .title{
                margin-bottom: 13px;
            }
            .colors{
                height: 2rem;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .color{
                    margin-right: 10px;
                    border-radius: 50%;
                    &:hover{
                        border: 2px dashed #D0050A;
                    }
                }
                
                .disabled{
                    opacity: 0.1;
                    margin-right: 10px;
                    border-radius: 50%;
                    
                }
            }
            
        }

        .size{
            display: flex;
            flex-direction: column;

            .title{
                display: flex;
                justify-content: space-between;
                .regions{
                    display: flex;
                    

                    .region{
                        margin-right: 10px;
                    }
                }
            }
            .sizes{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .size{
                    color: @grey;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 0.5rem;
                    border-radius: 10px;
                    box-shadow: 0 10px 20px -12px;
                    height: 4.6rem;
                    background: #fff;
                    margin-top: 10px;

                    &:hover{
                        border: 2px solid @red;
                    }
                }
            }
        }
    }
    

    // ABOUT PRODUCT

    .aboute__product{
        
        padding-top: 7rem;

        .title{
            line-height: 132px;
            

            img{
                top: 0;
                left: 10%;
                position: absolute;
                transform: rotate(90deg);
            }
            .brand{
                font-size: 6.5rem;
                display: flex;
                align-items: center;
                font-size: 6.5rem;
                color: @black;
                
                &:before{
                    content: "";
                    width: 300px;
                    background: @black;
                    height: 16px;
                    margin-right: -20px;
                }
            }
            .model{
                font-size: 9.5rem;
                    
            }
        }

        .content{
            padding-top: 1.8rem;
            font-weight: 100;
            color:#959595;
            padding-top: 100px;
        }
             
    }
    
    
}


.common_title_wrapper{
    width: 100%;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    .leftside_inner{
        display: flex;
        align-items: center;
    }
    
    .right_nav{
       
        display: flex;
        align-items: center;
        justify-content: center;
        // z-index:1 ;
        // background: url("/dist/imgs/imgsForHomeUsage/Menu-Cart.png") no-repeat center;
        width: 360px;
        height: 108px;

        .right_nav_inner{
            // margin-left: 10px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            

            
            .search_icon{
                height: 27px;
    
            }
            .person_icon{
                z-index: -1;
                height: 40px;
    
            }
        }

        
    }
}

    .common__title{
        
        display: flex;
        
        align-items: center;
        
        height: 50px;
        
        
        font-weight: 300;
        font-size: 1.8rem;
        margin-left: 45px;
        
    }
    
    .common__title::before{
        content: "";
        height: 5px;
        width: 120px;
        background: #000;
        margin-right: -2px;
    }

    


