@import "../../less/vars/var.less";
.product{
    height: 100vh;
    display: flex;
    align-items: center;
    .product_block{
        display: flex;
        justify-content: center;
    }

    
    .product__order{
        position: relative;
        display: flex;
        font-weight: 100;
        flex-direction: column;
        color: #959595;
        background: #fff;
        

        .price{
            position: absolute;
            font-weight: 900;
            font-style: italic;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 108px;
            width: 50%;
            padding-right: 20px;
            background: @black;
            color: #fff;
            font-size: 2rem;
            border-radius: 10px 0 0 10px;
            margin-right: -20px;
        }
        .title{
            
            padding-bottom: 50px;
            .brand{
                
                color: @black;
                font-style: italic;
                font-weight: 900;
                font-size: 2rem;
            }
            .model{
                
                color: @black;
                span{
                    color: #959595;
                }
            }
        }
        // color

        .color{
            .title{
                margin-bottom: 13px;
            }
            .colors{
                display: flex;
                margin-right: 20px;
            }
            
        }
    }
    


    
    
    
}


.common_title_wrapper{
    width: 100%;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    .leftside_inner{
        display: flex;
        align-items: center;
    }
    
    .right_nav{
       
        display: flex;
        align-items: center;
        justify-content: center;
        // z-index:1 ;
        // background: url("/dist/imgs/imgsForHomeUsage/Menu-Cart.png") no-repeat center;
        width: 360px;
        height: 108px;

        .menu_bg{
            width: 200px;
            height: 200px; 
            position: absolute;
            right: 0;
        }

        .right_nav_inner{
            // margin-left: 10px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            

            
            .search_icon{
                height: 27px;
    
            }
            .person_icon{
                z-index: -1;
                height: 40px;
    
            }
        }

        
    }
}

    .common__title{
        
        display: flex;
        
        align-items: center;
        
        height: 50px;
        
        
        font-weight: 300;
        font-size: 1.8rem;
        margin-left: 45px;
        
    }
    
    .common__title::before{
        content: "";
        height: 5px;
        width: 120px;
        background: #000;
        margin-right: -2px;
    }

    


