@import "../../less/vars/var.less";

.product_list{
    background: @white;
    

    .filter__bar{
        display: flex;
        height: 33px;
        align-items: center;
        justify-content: space-between;
        margin-left: 147px;
        padding-top: 170px;
        
        font-weight: 100;

        .filter_cat:first-child{
            font-size: 1.5rem;
        }
        
        
        .filter_cat{
           .hover_line();
            svg{
                margin-right: 3px;
            }
        }
        

    }
    
   

    

   .products__inner{
       display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    margin-top: 25px;
   }

   .btn{
       border-radius: 10px;
       margin-top: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 160px;
       height: 60px;
       color: #fff;
       background: @red;
   }
}

// .products{
//     .common_title_wrapper{

//     }
// }

.common_title_wrapper{
    width: 100%;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    .phone({
        justify-content: center;
        background: @black;
    });
    
    

    .leftside_inner{
        display: flex;
        align-items: center;

        .phone({
            justify-content: center;
        });
        
    }
    
    // .right_nav{
    //     right: 0;
    //     position: absolute;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     z-index: 1  ;
    //     height: 108px;

    //     .phone({
    //         display: none;
    //      });
        
        

    //     .right_nav_bg{
    //         height: 100%;
    //         width: 100%;
    //         position: absolute;
    //         right: 0;
    //         top: 0;

            
            
    //     }

    //     .right_nav_inner{
    //         margin-right: 30px;
    //         width: 100%;
    //         display: flex;
    //         justify-content: space-around;
    //         position: relative;

            
            
            
    //         .cnt_Cart{
    //             position: absolute;
    //             top: -4px;
    //             right: -3px;
    //             width: 14px;
    //             height: 14px;
    //             background: @red;
    //             border-radius: 50%;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             color: #fff;
    //             font-size: 11px;
    //         }
            
    //         .search_icon{
    //             color: #000;
    //             position: relative;
    //             .rotateUpHover();
                
    
    //         }
    //         .person_icon{
    //             z-index: -1;
    //             height: 40px;
    
    //         }
    //     }

        
    // }
}

    .common__title{
        
        display: flex;
        
        align-items: center;
        
        height: 50px;
        
        
        font-weight: 300;
        font-size: 1.8rem;
        margin-left: 45px;

        .phone({
            display: none;
         });
        
    }
    
    .common__title::before{
        content: "";
        height: 5px;
        width: 120px;
        background: #000;
        margin-right: -2px;
    }