.product_block{
    display: flex;
    align-items: center;
    
    
    
}

.dots_pr{
        
    display: flex;
    position: absolute;
    bottom: -8em;
    .dot_inner{
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 3px solid #E71C4C;
        
        img{
           height: 70%;
           
        }
        
    }
    
}