@import "./../../../less/vars/var.less";

.product_block{
    display: flex;
    align-items: center;
    
    
    .vertical_img{   
     
        width: 33%;
        transform: rotate(-80deg);
        .tablet({
            width: 100%;
            transform: rotate(0)
        });
        .lgdesktop({
            width: 40%;
        });
        
    }
}

